@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

html {
  font-family: "Roboto Slab", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/*========================HEADER=======================*/

.header__container {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  background-color: #e52225;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 3;
}

.logo {
  align-self: center;
  width: 370px;
  margin-left: 20px;
  margin-top: 5px;
}

.nav__links {
  width: 33%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  align-self: center;
} 

.nav__link {
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  font-weight: 400;
  white-space: nowrap;
}

.nav__link a {
  color: #ffffff;
  text-decoration: none;
}

.nav__link:hover {
  background-color: #e46062;
  height: inherit;
}

.link-icons {
  margin-right: 2%;
  margin-left: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}
.link-icon {
  margin-left: 7%;
}

.link-icon img {
  width: 40px;
}

/*============================TITLE=====================*/

main {
  background-color: #ffffff;
  background-image: url("../img/wallpaper.png");
  background-size: 30%;
}

.title__wrapper {
  padding-top: 80px;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.title {
  margin: 0 auto;
  padding-top: 12%;
  padding-bottom: 7%;
  font-size: 4.5rem;
  font-weight: 700;
  /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
  color: #e52225;
}

.building__img {
  width: 50%;
  border-radius: 50%;
}

.address__string {
  margin: 10% auto;
  font-weight: 400;
  font-size: 1.5rem;
}
/*=================Menu==============*/
#menu {
  padding-top: 12%;
}
.subtitle {
  margin-bottom: 5%;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  /*text-decoration: underline 10%;*/
  letter-spacing: 0.5rem;
  color: #e52225;
}

.section {
  width: 100%;
  position: relative;
}
.section .left,
.section .middle,
.section .right {
  width: 100%;
  display: block;
  color: #fff;
  box-sizing: border-box;
  left: 0;
  padding: 30px;
  text-align: center;
  overflow: hidden;
  -moz-transition: 0.3s ease-in-out all;
  -o-transition: 0.3s ease-in-out all;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}
@media (min-width: 480px) {
  .section .left .content,
  .section .middle .content,
  .section .right .content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media (min-width: 480px) {
  .section .left,
  .section .middle,
  .section .right {
    width: 50%;
    font-size: 0.9em;
    padding: 10px;
    left: 0;
    float: left;
    position: absolute;
  }
}
@media (min-width: 768px) {
  .section .left,
  .section .middle,
  .section .right {
    width: 33.33333%;
    left: 33.33%;
    padding: 10px;
  }
}
@media (min-width: 992px) {
  .section .left,
  .section .middle,
  .section .right {
    padding: 30px;
    font-size: 1em;
  }
}
.section.animate .left {
  left: 0;
}
@media (min-width: 480px) {
  .section.animate .left {
    left: 50%;
  }
}
@media (min-width: 768px) {
  .section.animate .left {
    left: 0;
  }
}
.section.animate .right {
  left: 0;
}
@media (min-width: 480px) {
  .section.animate .right {
    left: 50%;
  }
}
@media (min-width: 768px) {
  .section.animate .right {
    left: 66.66%;
  }
}
.section .title {
  background: tomato;
}
.section .title h2 {
  margin-top: 0;
}
.section .title p {
  line-height: 1.55em;
  margin-bottom: 0.75em;
}
.section .title .btn-primary {
  color: #fff;
  background: #ff3814;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
  display: inline-block;
  -moz-transition: 0.3s ease-in-out all;
  -o-transition: 0.3s ease-in-out all;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}
.section .title .btn-primary:hover {
  background: #fa2600;
}
.section .tiles {
  padding: 0;
  background: #fff;
  clear: both;
  display: none;
  float: none;
}
.section .tiles img {
  width: 50%;
  float: left;
  height: auto;
  opacity: 0.7;
  -moz-transition: 0.3s ease-in-out all;
  -o-transition: 0.3s ease-in-out all;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.section .tiles img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}
@media (min-width: 768px) {
  .section .tiles {
    display: block;
  }
}
.section .middle {
  z-index: 2;
  padding: 0;
}
.section .middle img {
  width: 100%;
  height: auto;
  display: block;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/*==================About=================*/
.about__wrapper {
  box-sizing: border-box;
  height: calc(100vh - 80px);
}

.about__wrapper h2 {
  padding-top: 10%;
}
.about-text {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7%;
  text-align: center;
  font-size: 1.3rem;
}

/*========================Contacts=================*/

.contacts__wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  background-color: #e52225;
  color: #ffffff;
}

.map {
  width: 60%;
  max-width: 720px;
  height: 500px;
}

.contacts-canvas {
  width: 40%;
  margin-right: 20px;

  display: flex;
  flex-direction: column;
}

.contacts-canvas h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
  margin-left: 2rem;
  margin-bottom: 15%;
  padding-top: 60px;
}
.contacts-text {
  list-style: none;
  margin-top: 0;
  margin-left: 2rem;
  padding: 0;
}

.contacts-info {
  margin-bottom: 20px;
}

.contacts-text a {
  color: #ffffff;
  text-decoration: none;
}

.contacts-icon {
  width: 30px;
  margin-right: 20px;
}

.social-icons img {
  width: 30px;
}
